In [1]:
import pandas as pd
import numpy as np

# to visualise all the columns in the dataframe
#pd.set_option("display.max_rows", None, "display.max_columns", None)
pd.set_option("display.max_columns", None)

#pd.set_option('max_colwidth', 320)

# Hiding warnings
import warnings
warnings.filterwarnings('ignore')

In [2]:
#df_2018_s = pd.read_csv('datasets/survey_results_schema_2018.csv')
#df_2019_s = pd.read_csv('datasets/survey_results_schema_2019.csv')
#df_2020_s_= pd.read_csv('datasets/survey_results_schema_2020.csv')
#df_2021_s = pd.read_csv('datasets/survey_results_schema_2021.csv')

In [3]:
#df_2018 = pd.read_csv('datasets/survey_results_public_2018.csv')
#df_2019 = pd.read_csv('datasets/survey_results_public_2019.csv')
#df_2020_= pd.read_csv('datasets/survey_results_public_2020.csv')

In [17]:
mental_21 = pd.read_csv('datasets/survey_results_public_2021.csv',usecols=['ResponseId','MentalHealth','Gender','Age','Trans','Sexuality'])
mental_21.head()

,ResponseId,Age,Gender,Trans,Sexuality,MentalHealth
0,1,25-34 years old,Man,No,Straight / Heterosexual,None of the above
1,2,18-24 years old,Man,No,Straight / Heterosexual,None of the above
2,3,18-24 years old,Man,No,Prefer not to say,None of the above
3,4,35-44 years old,Man,No,Straight / Heterosexual,NaN
4,5,25-34 years old,Man,No,NaN,NaN

In [18]:
mental_21.loc[mental_21['MentalHealth']=='None of the above']

,ResponseId,Age,Gender,Trans,Sexuality,MentalHealth
0,1,25-34 years old,Man,No,Straight / Heterosexual,None of the above
1,2,18-24 years old,Man,No,Straight / Heterosexual,None of the above
2,3,18-24 years old,Man,No,Prefer not to say,None of the above
6,7,Prefer not to say,Prefer not to say,No,NaN,None of the above
7,8,18-24 years old,Woman,No,Straight / Heterosexual,None of the above
...,...,...,...,...,...,...
83431,83432,18-24 years old,Man,No,Straight / Heterosexual,None of the above
83432,83433,18-24 years old,Woman,No,Straight / Heterosexual,None of the above
83435,83436,18-24 years old,Man,No,Straight / Heterosexual,None of the above
83436,83437,25-34 years old,Man,No,NaN,None of the above
83438,83439,18-24 years old,Man,No,Straight / Heterosexual,None of the above

In [5]:
mental_21['MentalHealth'] = mental_21['MentalHealth'].map({'None of the above':'positive'})

In [6]:
mental_21.head(5)

   ResponseId              Age Gender MentalHealth
0           1  25-34 years old    Man     positive
1           2  18-24 years old    Man     positive
2           3  18-24 years old    Man     positive
3           4  35-44 years old    Man          NaN
4           5  25-34 years old    Man          NaN

In [7]:
len(mental_21['MentalHealth'].unique())

2

In [8]:
mental_21[(mental_21['MentalHealth']!='None of the above') & (mental_21['MentalHealth']!=np.nan)].head(2)

   ResponseId              Age Gender MentalHealth
0           1  25-34 years old    Man     positive
1           2  18-24 years old    Man     positive

In [9]:
1-np.sum(mental_21['MentalHealth'].notnull()) / mental_21.shape[0]

0.3233499922098779

In [47]:
a=mental_21.loc[np.where((mental_21['MentalHealth']!='None of the above') & (mental_21['MentalHealth'].notnull()))]

In [59]:
a['max_age']=a['max_age'].str.split().str[0]

In [11]:
mental_21.loc[np.where((mental_21['Gender']=='Man')&(mental_21['Age']=='18-24 years old'))]

       ResponseId              Age Gender MentalHealth
1               2  18-24 years old    Man     positive
2               3  18-24 years old    Man     positive
21             22  18-24 years old    Man     positive
33             34  18-24 years old    Man          NaN
36             37  18-24 years old    Man          NaN
...           ...              ...    ...          ...
83425       83426  18-24 years old    Man     positive
83426       83427  18-24 years old    Man          NaN
83431       83432  18-24 years old    Man     positive
83435       83436  18-24 years old    Man     positive
83438       83439  18-24 years old    Man     positive

[18826 rows x 4 columns]

In [12]:
mental_21.loc[np.where((mental_21['MentalHealth']!='None of the above') & (mental_21['MentalHealth'].notnull()))]

       ResponseId                Age             Gender MentalHealth
0               1    25-34 years old                Man     positive
1               2    18-24 years old                Man     positive
2               3    18-24 years old                Man     positive
6               7  Prefer not to say  Prefer not to say     positive
7               8    18-24 years old              Woman     positive
...           ...                ...                ...          ...
83431       83432    18-24 years old                Man     positive
83432       83433    18-24 years old              Woman     positive
83435       83436    18-24 years old                Man     positive
83436       83437    25-34 years old                Man     positive
83438       83439    18-24 years old                Man     positive

[56459 rows x 4 columns]

In [13]:
idx = np.where((mental_21['MentalHealth']!='None of the above') & (mental_21['MentalHealth'].notnull()))
mental_21.loc[idx]

       ResponseId                Age             Gender MentalHealth
0               1    25-34 years old                Man     positive
1               2    18-24 years old                Man     positive
2               3    18-24 years old                Man     positive
6               7  Prefer not to say  Prefer not to say     positive
7               8    18-24 years old              Woman     positive
...           ...                ...                ...          ...
83431       83432    18-24 years old                Man     positive
83432       83433    18-24 years old              Woman     positive
83435       83436    18-24 years old                Man     positive
83436       83437    25-34 years old                Man     positive
83438       83439    18-24 years old                Man     positive

[56459 rows x 4 columns]

In [14]:
mental_21[mental_21['MentalHealth']!='None of the above']

       ResponseId              Age Gender MentalHealth
0               1  25-34 years old    Man     positive
1               2  18-24 years old    Man     positive
2               3  18-24 years old    Man     positive
3               4  35-44 years old    Man          NaN
4               5  25-34 years old    Man          NaN
...           ...              ...    ...          ...
83434       83435  25-34 years old    Man          NaN
83435       83436  18-24 years old    Man     positive
83436       83437  25-34 years old    Man     positive
83437       83438  25-34 years old    Man          NaN
83438       83439  18-24 years old    Man     positive

[83439 rows x 4 columns]

In [15]:
df_2021 = pd.read_csv('datasets/survey_results_public_2021.csv')
df_2021.head(2)

,ResponseId,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,DevType,OrgSize,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSys,NEWStuck,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,NEWOtherComms,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Slovakia,NaN,NaN,"Secondary school (e.g. American high school, G...",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,NaN,"Developer, mobile",20 to 99 employees,EUR European Euro,4800.0,Monthly,C++;HTML/CSS;JavaScript;Objective-C;PHP;Swift,Swift,PostgreSQL;SQLite,SQLite,NaN,NaN,Laravel;Symfony,NaN,NaN,NaN,NaN,NaN,PHPStorm;Xcode,Atom;Xcode,MacOS,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,Multiple times per day,Yes,A few times per month or weekly,"Yes, definitely",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,62268.0
1,2,I am a student who is learning to code,"Student, full-time",Netherlands,NaN,NaN,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7,NaN,NaN,NaN,NaN,NaN,NaN,JavaScript;Python,NaN,PostgreSQL,NaN,NaN,NaN,Angular;Flask;Vue.js,NaN,Cordova,NaN,Docker;Git;Yarn,Git,Android Studio;IntelliJ;Notepad++;PyCharm,NaN,Windows,Visit Stack Overflow;Google it,Stack Overflow,Daily or almost daily,Yes,Daily or almost daily,"Yes, definitely",No,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN

In [5]:
d_2021 = pd.read_csv('datasets/survey_results_public_2021.csv', usecols=['ResponseId','Country', 'EdLevel','LanguageHaveWorkedWith','LanguageWantToWorkWith','Age','Gender'])
d_2021.head(2)

,ResponseId,Country,EdLevel,LanguageHaveWorkedWith,LanguageWantToWorkWith,Age,Gender
0,1,Slovakia,"Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)",C++;HTML/CSS;JavaScript;Objective-C;PHP;Swift,Swift,25-34 years old,Man
1,2,Netherlands,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",JavaScript;Python,NaN,18-24 years old,Man

In [16]:
df_2020= pd.read_csv('datasets/survey_results_public_2020.csv')
df_2020.head(2)

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,CurrencySymbol,DatabaseDesireNextYear,DatabaseWorkedWith,DevType,EdLevel,Employment,Ethnicity,Gender,JobFactors,JobSat,JobSeek,LanguageDesireNextYear,LanguageWorkedWith,MiscTechDesireNextYear,MiscTechWorkedWith,NEWCollabToolsDesireNextYear,NEWCollabToolsWorkedWith,NEWDevOps,NEWDevOpsImpt,NEWEdImpt,NEWJobHunt,NEWJobHuntResearch,NEWLearn,NEWOffTopic,NEWOnboardGood,NEWOtherComms,NEWOvertime,NEWPurchaseResearch,NEWPurpleLink,NEWSOSites,NEWStuck,OpSys,OrgSize,PlatformDesireNextYear,PlatformWorkedWith,PurchaseWhat,Sexuality,SOAccount,SOComm,SOPartFreq,SOVisitFreq,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
0,1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,EUR,Microsoft SQL Server,Elasticsearch;Microsoft SQL Server;Oracle,"Developer, desktop or enterprise applications;...","Masterâ€™s degree (M.A., M.S., M.Eng., MBA, etc.)","Independent contractor, freelancer, or self-em...",White or of European descent,Man,"Languages, frameworks, and other technologies ...",Slightly satisfied,I am not interested in new job opportunities,C#;HTML/CSS;JavaScript,C#;HTML/CSS;JavaScript,.NET Core;Xamarin,.NET;.NET Core,Microsoft Teams;Microsoft Azure;Trello,Confluence;Jira;Slack;Microsoft Azure;Trello,No,Somewhat important,Fairly important,NaN,NaN,Once a year,Not sure,NaN,No,Often: 1-2 days per week or more,Start a free trial;Ask developers I know/work ...,Amused,Stack Overflow (public Q&A for anyone who codes),Visit Stack Overflow;Go for a walk or other ph...,Windows,2 to 9 employees,Android;iOS;Kubernetes;Microsoft Azure;Windows,Windows,NaN,Straight / Heterosexual,No,"No, not at all",NaN,Multiple times per day,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
1,2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,GBP,NaN,NaN,"Developer, full-stack;Developer, mobile","Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,NaN,NaN,NaN,Very dissatisfied,I am not interested in new job opportunities,Python;Swift,JavaScript;Swift,React Native;TensorFlow;Unity 3D,React Native,Github;Slack,Confluence;Jira;Github;Gitlab;Slack,NaN,NaN,Fairly important,NaN,NaN,Once a year,Not sure,NaN,No,NaN,NaN,Amused,Stack Overflow (public Q&A for anyone who code...,Visit Stack Overflow;Go for a walk or other ph...,MacOS,"1,000 to 4,999 employees",iOS;Kubernetes;Linux;MacOS,iOS,I have little or no influence,NaN,Yes,"Yes, definitely",Less than once per month or monthly,Multiple times per day,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4

In [7]:
d_2020 = pd.read_csv('datasets/survey_results_public_2020.csv', usecols=['Respondent','Country', 'EdLevel','LanguageWorkedWith','LanguageDesireNextYear','Age','Gender'])
d_2020.head(2)

,Respondent,Age,Country,EdLevel,Gender,LanguageDesireNextYear,LanguageWorkedWith
0,1,NaN,Germany,"Masterâ€™s degree (M.A., M.S., M.Eng., MBA, etc.)",Man,C#;HTML/CSS;JavaScript,C#;HTML/CSS;JavaScript
1,2,NaN,United Kingdom,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",NaN,Python;Swift,JavaScript;Swift

In [11]:
d=pd.DataFrame({'teste':['rodrigo;caca;fefe']})

In [12]:
d

               teste
0  rodrigo;caca;fefe

In [7]:
d[['new','new1','new2']]=d['teste'].str.split(';', expand=True)

In [8]:
d

               teste      new  new1  new2
0  rodrigo;caca;fefe  rodrigo  caca  fefe

In [15]:
c=d['teste'].apply(lambda x: x.split(';'))

In [16]:
objects=[]
for row in c:
    for obj in row:
        objects.append(obj.strip())

In [17]:
objects

['rodrigo', 'caca', 'fefe']

In [18]:
type(c)

pandas.core.series.Series

In [19]:
type(objects)

list